#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1


%:
	dh $@

override_dh_auto_build:
	cd xterm-wasm-parts && sh -ex ../debian/nodejs/xterm-wasm-parts/build
	tsc -b ./tsconfig.all.json
	webpack
	set -e; for p in `pkgjs-utils components_list|grep addons/`; do \
		( set -e; echo "# $$p" && cd $$p && webpack ); \
	done

override_dh_installdocs:
	dh_installdocs
	dh_nodejs_autodocs

override_dh_install:
	dh_install
	find debian/libjs-xterm/usr/share/javascript/ debian/node-xterm/usr/share/nodejs -name '*.txt' -delete
